# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[makefile]
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = true

[Dockerfile,containerfile,*.dockerfile]
indent_style = space
indent_size = 4

[*.{js,ts,jsx,tsx}]
indent_style = space
quote_type = single

[*.{json,yaml,yml}]
quote_type = double

[Tiltfile,*.tilt]
quote_type = double

[*.hcl]
quote_type = double
