{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "proseWrap": "preserve",
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "semi": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "proseWrap": "preserve"
      }
    }
  ]
}
